@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131313;
  opacity: 1;
  background-image: radial-gradient(#303030 1.3px, #131313 1.3px);
  background-size: 26px 26px;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}
